body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
    font-size:16px; /*standaard fontsize. Als je dit veranderd, veranderd al de font-sizes met 'em' aan het einde.*/
    font-family: 'Alatsi', sans-serif; /*font voor je tekst.*/
}

h1 {
    font-size:2em;
    font-weight: bold; /*Bold tekst */
}

div {
    box-sizing: border-box;
    /*border: 1px solid #1500ff;*/

}

nav {
    display: flex;

}

nav div {
    font-size: 1.2em; /* 'em' want dan hoef je alleen de font-size in de body aan te passen. Alles veranderd dan mee */
    flex-grow:1;
    text-align:center;
    padding:10px;
    color: white;
    background-color: #69a5ff;
    cursor:pointer; /*cursor krijgt de 'pointer' ontwerp.*/
    transition: all 0.4s ease-in; /*kleurovergang animatie*/
}

nav div:hover{
            background-color: lightskyblue;
        }
main {
    max-width: 1000px;
    margin: 0 auto;
}

#header-image {
    width:100vw; /* altijd even breed als mijn browser scherm*/
    height:300px; /*|| height:30vh*/
    background-image:url(../images/header.jpg); /*het selecteren van een plaatje uit de images folder*/
    background-size:cover;
    /*backdrop-size:contain;*/ /* <-- Dit is een alternatief. Bekijk zelf welke je fijner vindt. */
    background-position: center;
}
section {
    background-color: blueviolet;
    padding: 20px; /*de section heeft een afstand tussen de de content en de rand*/
    margin: 30px; /*de section heeft een afstand tussen de verschillende sections*/
}
section img {
    width: 100%; /* 100% is 100% van mijn container (Ik snap zelf niet meer waarom ik dit heb opgeschreven) */
}

a, a:visited {
    text-decoration: none;
    color: white;
}

footer {
    padding: 20px;
    font-size: 1.4em;
    background-color: #374755;
    color: white;
}

input[type=text] input[type=email] {
    font-size: 1.2em;
}

input[type=text]:invalid, input[type=email]:invalid {
    border: 1px solid red;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #374755;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) { /* als de window max 600px is dan gaat alle content smooth onder elkaar de staan*/
    nav {/* alles (je kan in plaats van 'nav', ook 'body doen).*/
        display:block
        /*background-color: olive; (je kan ook nog de achtergrond veranderen)*/
    }
}
